@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
}
nav {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.banner-text h1 {
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.banner-modal * {
  color: #212121;
}
.about-section {
  margin: 0.5rem 0;
}
.wrap {
  text-align: center;
}
.hide {
  display: none !important;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner {
    height: 60vh !important;
  }
  .banner-text h1 {
    font-size: 2rem !important;
  }
  .about-section-more {
    padding: 3rem 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner,
  .about-section-more {
    height: 100vh;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .banner-text h1 {
    font-size: 4rem;
  }
  .banner-modal h2 {
    font-size: 4rem;
  }
  .banner-modal h3 {
    font-size: 2rem;
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
