@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&display=swap");

body {
  box-sizing: border-box;
  font-family: "Inter Tight", sans-serif;
}
nav {
  background-color: #212121;
  padding: 0.5rem 0;
  width: 100%;
  position: fixed;
  top: 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slick-banner {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slick-banner-text {
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.slick-banner-text h1 {
  font-weight: 900;
  color: #fff;
  text-align: center;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .slick-banner {
      height: 60vh !important;
    }
    .slick-banner-text h1 {
      font-size: 2rem !important;
    }
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .slick-banner-text h1 {
        font-size: 3rem;
      }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .slick-banner-text h1 {
        font-size: 4rem;
      }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

