nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 0.5rem 0;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  z-index: 900000;
}
nav * {
  color: #212121 !important;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .btn-show,
  .btn-hide {
    font-size: 2rem;
    transition: all 0.5s;
  }
  .btn-hide {
    display: none;
  }
  .add-border {
    border-bottom: 1px solid #212121;
  }
  .nav-items {
    position: fixed;
    top: 66.5px;
    left: -100%;
    width: 100vw;
    height: 100vh;
    display: block !important;
    padding: 8px 12px;
    background-color: #fff;
    padding: 10px 20px 20px 20px;
    transition: all 0.5s;
  }
  .nav-links {
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    display: block;
    color: #212121;
    border-bottom: 1px solid #212121;
    padding: 15px 0;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar-button {
    display: none;
  }
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
