.desktop-view {
  margin-top: 8rem;
}

.head-text {
  display: flex;
  gap: 2rem;
  padding: 0 1rem;
}
.head-text a {
  font-size: 1.1rem;
  color: #6c757d;
  padding: 1rem 0;
  margin: 0;
  cursor: pointer;
}
.head-text a:hover {
  color: #6c757d;
}
.head-text a.active {
  color: rgb(61, 106, 255);
  border-bottom: 2px solid rgb(61, 106, 255);
}

@media (max-width: 575.98px) {
  .overflow {
    padding-bottom: 0.6rem;
    overflow: scroll;
    background-color: #eaeaea;
    position: fixed;
    width: 100%;
    top: 65px;
    z-index: 1020;
  }
  .overflow .head-text {
    width: max-content;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .head-text {
    background-color: #eaeaea;
    width: 100%;
  }
  .overflow {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9000;
    box-shadow: 0 0.15rem 0.25rem rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }
  .overflow .head-text {
    padding-top: 65px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .desktop-view {
    min-height: 100vh;
  }
}
/* Large devices (desktops, 992px and up) */
@keyframes fades {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .side-menu {
  padding: 0.5rem;
  border-radius: 0 1rem 1rem 0;
}
main .side-menu * {
  color: #212121;
  margin: 0;
}
main .side-menu .wrapper-side-menu .wrap {
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 1rem 0;
  transition: all 1s;
}
main .side-menu .wrapper-side-menu .button-reset {
  display: none;
}
main .side-menu .wrapper-side-menu .button-reset h5 {
  color: red;
}
main .side-menu .wrapper-side-menu ul {
  padding: 0;
  cursor: pointer;
  transition: all 1s;
}
main .side-menu .wrapper-side-menu ul li {
  color: #6c757d;
  padding: 0.25rem 0;
  border-bottom: 1px solid #eaeaea;
  list-style: none;
  transition: all 0.75s;
}
main .side-menu .wrapper-side-menu ul li:hover {
  background-color: #f2f2fe;
}
main .card {
  margin: 0.5rem 0;
  animation: fades 0.5s ease-in;
  transition: all 0.5s;
  cursor: pointer;
}
main .card .card-text {
  border-radius: 1rem 1rem 0 0;
}
main .card .card-text .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .card .card-text .wrap * {
  color: #212121;
  margin: 0.5rem 0;
}

@media (max-width: 575.98px) {
  .container-fluid {
    padding: 0 0.5rem;
  }
  .container-fluid .col-6 {
    padding: 0.25rem;
  }
  .container-fluid .col-6 .card {
    border: none;
  }
  .container-fluid .col-6 .card .card-images {
    padding: 0.5rem;
  }
  .container-fluid .col-6 .card .card-images img {
    max-height: 150px;
  }
  .container-fluid .col-6 .card .card-text {
    padding: 0.5rem;
  }
  .container-fluid .col-6 .card .card-text p {
    font-size: 12px;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .card {
    border: 1px solid #f2f2fe;
    border-radius: 1rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
  }
  .card .card-images {
    padding: 0.5rem;
  }
  .card .card-images img {
    min-height: 184.99px;
    max-height: 185px;
  }
  .card .card-text {
    padding: 0.5rem;
  }
  .card .card-text .wrap {
    border-bottom: 1px solid #212121;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .card-images img {
    object-fit: contain;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .col-lg-9 {
    padding: 0 1.5rem;
    border-left: 1px solid #eaeaea;
  }
}
@keyframes fades {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=service-android-page.css.map */