@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600;700;800;900&family=Inter:wght@400;500;600;700&family=Press+Start+2P&display=swap");
@import url("navigation-style.css");

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter Tight", sans-serif;
}
a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 18px;
  color: #fff;
}
a:hover {
  color: gold;
}
.text-logo {
  font-size: 2rem;
  font-family: "Press Start 2P";
  color: #212121;
}
.hide {
  display: none !important;
}
.links {
  letter-spacing: 2px;
}

/* Button */
button {
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  font-size: 18px;
}
.btn-close-custom {
  font-size: 18px;
  font-weight: 500;
  color: #212121;
}
.btn-close-custom:hover {
  color: gold;
}
/* Banner */
.banner,
.text-title {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-text {
  display: flex;
  justify-content: center;
  align-items: center !important;
}
.banner-text h1 {
  font-weight: 900;
  color: #fff;
  text-align: center;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* Banner */
  .banner {
    height: 60vh;
  }
  .banner-text h1 {
    font-size: 2rem !important;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  /* Banner */
  .banner-text h1 {
    font-size: 3rem;
  }
  .banner {
    height: 100vh;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  /* Banner */
  .banner-text h1 {
    margin-bottom: 2rem;
  }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* Banner */
  .banner-text h1 {
    font-size: 4rem;
  }
  .banner-text h2 {
    font-size: 3rem;
  }
  .banner-text h3 {
    font-size: 2rem;
  }
}

/* Hero Section Automatic Slider */
.hero-section {
  position: relative;
}
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  list-style: none;
}
.slick-dots li {
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dot {
  --height-of-loader: 4px;
  --loader-color: #212121;
  width: 100%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
}
.slick-active .slick-dot::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 30px;
  animation: moving 2.5s ease-in-out 1;
}
@keyframes moving {
  0%,
  100% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}
